*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{padding: 90px 20px 0px;}
nav{
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}
header{background-color: #ff8000;height: 80px;position: fixed;width: 100%;top: 0;left: 0;}
}
.enlace{
    position: absolute;
    padding: 20px 30px;

}
.checkbtn{
    color: white;
    float: right;
    line-height: 80px;
    cursor: pointer;

}
label img{
    width: 30px;
    height: 30px;
    margin: 25px;
}
.logo{
    height: 60px;
    border-radius: 10px;
    margin: 10px 30px;
    position: none;

}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #ff0000;
    transition: 0.5s;
}
#check{
    display: none;
}